name: 'Auto Clock-In Bot'

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  schedule:
    # set the trigger time at 5:00 a.m
    - cron: "0 1 * * *" 

jobs:
  bot:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v2

      - name: 'Set up Python 3.9'
        uses: actions/setup-python@v2
        with: 
          python-version: 3.9
          
      - name: 'Install dependence'
        run: |
          python -m pip install --upgrade pip
          pip install requests

      - name: 'Run the script'
        run: Python app.py
        env:
          EMAIL_USERNAME: ${{secrets.EMAIL_USERNAME}}
          EMAIL_PASSWORD: ${{secrets.EMAIL_PASSWORD}}
          EMAIL_SERVER: ${{secrets.EMAIL_SERVER}}
          EMAIL_PORT: ${{secrets.EMAIL_PORT}}
